.panel, .panel-body, .table {
	padding: 0;
	margin: auto;
	background-color: transparent;
	color: white;
	border-color: none;
}

.label {
	margin: 3px 0px,
}

.table > * {
	padding: 1px;
}

// #dinnerPlace{
// 	width: 80%
// }